/* Global */
h2 {
  /*font-family: 'Gotham B';*/
  font-size: 55px;
}
h3 {
  font-size:45px;
  font-weight: normal;
  margin-top: 100px;
}
.btn {
  background: #6c25fb;
  text-transform: uppercase;
  font-family:'Gotham Book', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 32px;
  padding: 25px 35px;
}
.btn:hover {
  background: #934efb;
}
.purpleHighlight {
  color: #6c25fb;
}
.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}
.font-light {
  font-weight: lighter;
}
.horizontal-rule {
	width: 150px;
	height: 2px;
  margin-bottom: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c497fa+0,fb63b1+100 */
  background: #c497fa; /* Old browsers */
  background: -moz-linear-gradient(left, #c497fa 0%, #fb63b1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #c497fa 0%,#fb63b1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #c497fa 0%,#fb63b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c497fa', endColorstr='#fb63b1',GradientType=1 ); /* IE6-9 */
}

/* getStarted */
#callToActionTop h2 {
  margin-top: 150px;
}

/* aboutSwishlinks */
.colbaltBlue {
  background: #3354fb;
  color: white;
  margin-top: -100px;
  padding-bottom: 100px;
}
.width-150 {
  width: 150px;
}
#aboutSwishlinks{
  padding-top: 170px;
}
#aboutSwishlinks h6 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#aboutSwishlinks h2 {
  margin-bottom: 60px;
}
#aboutSwishlinks p {
  font-size: 24px;
}
#aboutSwishlinks hr {
  margin-top: 0px;
}
#aboutSwishlinks ul {
  list-style-type: none;
  margin-top: 50px;
}
#aboutSwishlinks li {
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: normal;
}

/* createCollections */
#createCollections {
  padding-top: 50px;
}
#createCollections p {
  line-height: 24px;
}
