/* Global */
h2 {
  /*font-family: 'Gotham B';*/
  font-size: 55px;
}
h3 {
  font-size:45px;
  font-weight: normal;
  margin-top: 100px;
}
p {
  line-height: 24px;
}
.btn {
  background: #6C00FF;
  text-transform: uppercase;
  font-family:'Gotham Book', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 32px;
  padding: 25px 35px;
}
.btn:hover {
  background: #6100E5;
}
.btn:active:focus {
  background: #5100BF;
}
.btn:visited {
  background: #6C00FF;
}
.purpleHighlight {
  color: #6C00FF;
}
.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}
.font-light {
  font-weight: lighter;
}
.horizontal-rule {
	width: 150px;
	height: 2px;
  margin-bottom: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c497fa+0,fb63b1+100 */
  background: #B679FC; /* Old browsers */
  background: -moz-linear-gradient(left, #B679FC 0%, #FC369E 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #B679FC 0%,#FC369E 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #B679FC 0%,#FC369E 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B679FC', endColorstr='#FC369E',GradientType=1 ); /* IE6-9 */
}

/* callToActionTop */
#callToActionTop h2 {
  margin-top: 150px;
}
#desktopBtnTop {
  display: block;
}
#mobileBtnTop {
  display: none;
}


/* aboutSwishlinks */
.colbaltBlue {
  background: #3354fb;
  color: white;
  margin-top: -100px;
  padding-bottom: 100px;
}
.width-150 {
  width: 150px;
}
#aboutSwishlinks{
  padding-top: 170px;
}
#aboutSwishlinks h6 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#aboutSwishlinks h2 {
  margin-bottom: 60px;
}
#aboutSwishlinks p {
  font-size: 24px;
}
#aboutSwishlinks hr {
  margin-top: 0px;
}
#aboutSwishlinks ul {
  list-style-type: none;
  margin-top: 50px;
}
#aboutSwishlinks li {
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: normal;
}

/* createCollections */
#createCollections {
  padding-top: 50px;
  padding-bottom: 50px;
}
#createCollections p {
  line-height: 24px;
}
#createCollections img {
  width: 500px;
}

/* addStories */
.lightGray {
  background: #fafafa;
}
#addStories {
  padding-top: 50px;
  padding-bottom: 50px;
}
#addStories .horizontal-rule {
  display: inline-block;
}
#addStories .desktopAddStories {
  display: block;
}
#addStories .mobileAddStories {
  display: none;
}
#addStories img {
  width: 500px;
}

/* shareLink */
#shareLink {
  padding-top: 50px;
  padding-bottom: 50px;
}
#shareLink img {
  width: 260px;
}

/* mobile */
.lightBlue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c497fa+0,fb63b1+100 */
  background: #1fb6fc; /* Old browsers */
  background: -moz-linear-gradient(left, #1fb6fc 0%, #246efb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1fb6fc 0%,#246efb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1fb6fc 0%,#246efb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb6fc', endColorstr='#246efb',GradientType=1 ); /* IE6-9 */

}
#mobile {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#mobile ul {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
}
#mobile li {
  margin: 5px 0;
  font-weight: normal;
  font-size: 16px;
}

/* callToActionBottom */
#callToActionBottom h2 {
  margin-top: 150px;
}
#desktopBtnBottom {
  display: block;
}
#mobileBtnBottom {
  display: none;
}

/* footer */
footer {
  background: #0b152e;
  color: #9ca0a3;
  padding-top: 50px;
  padding-bottom: 50px;
}
#desktopFooter {
  display: block;
}
#mobileFooter {
  display: none;
}
.nav > li {
  display: inline-block;
  text-transform: uppercase;
}
.nav > li:hover {
  background-color: none;
}
.nav > li > a {
  color: #9CA0A3;
}
.nav > li > a:hover, .nav > li > a:focus {
  color: #00DB8A;
  background-color: transparent;
}
.nav > li > a:active{
  color: #00C17A;
}
.apple {
  margin-left: 70px;
  margin-right: 10px;
}
.copyright {
  float: right;
  margin-right: 70px;
}
