/* Global */
h2 {
  /*font-family: 'Gotham B';*/
  font-size: 45px;
  margin-bottom: 30px;
}

/* callToActionTop */

#desktopBtnTop {
  display: none;
}
#mobileBtnTop {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.mobileApple, .mobileGoogle {
  width: 164px;
  margin-top: 10px;
  margin-bottom: 75px;
}
.mobileApple {
  margin-right: 5px;
}
.mobileGoogle {
  margin-left: 5px;
}

/* aboutSwishlinks */
.colbaltBlue {
  padding-bottom: 30px;
}
#aboutSwishlinks {
  padding-top: 125px;
  text-align: left;
}
#aboutSwishlinks h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
#aboutSwishlinks h6 {
  font-size: 18px;
  text-transform: none;
  text-align: left;
}
#aboutSwishlinks hr {
  margin-right: 180px;
}
#aboutSwishlinks p {
  text-align: left;
  font-size: 16px;
  margin-bottom: 30px;
}
#aboutSwishlinks ul {
  text-align: left;
  padding-left: 0;
  margin-top: -5px;
}

/* createCollections */
#createCollections {
  padding-bottom: 25px;
}
#createCollections h3 {
  font-size: 32px;
  margin-top: 0;
}
#createCollections img {
  width: 100%;
}

/* addStories */
#addStories {
  padding-top: 25px;
  padding-bottom: 25px;
}
#addStories h3 {
  font-size: 32px;
}
#addStories .mobileAddStories {
  display: block;
}
#addStories .desktopAddStories {
  display: none;
}
#addStories img {
  width: 100%;
}
#addStories h3 {
  margin-top: 0px;
}


/* shareLink */
#shareLink {
  padding-top: 25px;
  padding-bottom: 25px;
}
#shareLink h3 {
  font-size: 32px;
  margin-top: 0px;
}
#shareLink p {
  padding-bottom: 20px;
}
#shareLink img {
  width: 90%;
}

/* mobile */
#mobile {
  padding-top: 25px;
  padding-bottom: 25px;
}
#mobile h2 {
  font-size: 32px;
}
#mobile ul {
  margin-bottom: 25px;
}

/* callToActionBottom */
#callToActionBottom {
  padding-top: 25px;
}
#callToActionBottom h2 {
  margin-top: 20px;
}
#desktopBtnBottom{
  display: none;
}
#mobileBtnBottom{
  display: block;
}
#homescreenImgBottom {
  display: none;
}

/* Footer */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#desktopFooter {
  display: none;
}
#mobileFooter {
  display: block;
}
#mobileBtnBottom .mobileApple, #mobileBtnBottom .mobileGoogle {
  margin-bottom: 50px;
}
.copyright {
  float: none;
  margin-right: 0;
  font-size: 10px;
}
